* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: rgba(15,23,42,0.9);
    position: sticky;
    top: 0;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #e2e8f0;
    text-decoration: none;
}

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.hero-text h1 {
    font-size: 3rem;
    color: #38bdf8;
}

.hero-text p {
    margin: 15px 0;
    max-width: 500px;
}

.btn {
    background: #38bdf8;
    color: #0f172a;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 80px 8%;
}

h2.section-title {
    text-align: center;
    margin-bottom: 40px;
    color: #38bdf8;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    text-align: center;
}

.skill {
    background: #1e293b;
    padding: 20px;
    border-radius: 8px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-6px);
}

.contact {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}


body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
}

.container {
    width: 100%;
    max-width: 420px;
    margin: 80px auto;
    padding: 30px;
    background: #1f2937;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #3b82f6;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #2563eb;
}

a {
    color: #60a5fa;
    text-decoration: none;
}